
* {
  font-family: "Poppins", sans-serif;
}
body {
  overflow-x: hidden;
}

:root {
  --primary-color: #184662;
}

/* card di halaman welcome  */
.populer {
  margin: 4rem 0px 0px 9rem;
  line-height: 1px;
  display: inline-block; /* Membungkus elemen dalam satu garis */
}

.underline {
  margin-top: -4px;
  border: solid thin 1px;
  height: 2px;
  background-color: white;
  width: auto; /* Biarkan lebar garis mengikuti teks */
}

/* CSS untuk card */
.card {
  margin-top: -10px;
  width: 280px;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  background-color: #fff;
}

.card:hover {
  transform: translateY(-5px);
}

.card img {
  max-width: 100%;
  height: auto;
  display: block;
}

.card-container {
  position: relative;
}

.card-body {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  color: #fff;
}

.card h2 {
  font-size: 1.5rem;
  margin-bottom: 5px;
  font-weight: bold;
}

.card p {
  font-size: 1rem;
}

/* card di halaman welcome  */

/* style halaman login start */
.body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  margin: 0;
  background: transparent;
}

.login-container {
  background: rgba(255, 255, 255, 0.2);
  padding: 30px 50px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.login-form {
  text-align: center;
  width: 100%;
}

.login-form h2 {
  text-align: left;
  font-size: 24px;
  margin-bottom: 20px;
  color: white;
  font-weight: 600;
}

.login-form h6 {
  text-align: left;
}

.form-group {
  margin-bottom: 20px;
  text-align: left;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: white;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 8px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #ccc;
}

button {
  background-color: #184662;
  color: #fff;
  padding: 6px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #184675;
}

/* style halaman login end */

/* Navbar Wisata dan wisata style */
.flexcontainer {
  left: 15%;
  top: 30%;
  position: absolute;
}
.text {
  align-self: stretch;
  color: #ffffff;
  font-size: 60px;
  font-weight: 700;
  line-height: 60px;
}

.title-desc {
  margin-bottom: 50px;
}
.card-box {
  height: 683px;
  width: 1281px;
  top: 100%;
  background: linear-gradient(
    rgb(9, 64, 96),
    rgb(36, 83, 112),
    rgb(49, 112, 150)
  );
}

.flex-card-box {
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 2.5rem;
  padding-bottom: 5rem;
}
.text-box {
  text-align: justify;
  width: 325px;
  font-size: 16px;
  letter-spacing: 0;
  margin-right: 3rem;
}

.card-box {
  padding-bottom: 60px;
}
.text-space {
  line-height: 4px;
}
.custom-img img {
  transition: 0.15s;
}
.custom-img img:hover {
  opacity: 0.7;
}
.custom-img img:active {
  opacity: 0.5;
}
.flex-card-box1 {
  justify-content: start;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 3.5rem;
}
.text-box1 {
  border: 1px solid white;
  text-align: justify;
  width: 550px;
  font-size: 16px;
  letter-spacing: 0;
  padding: 60px 40px 60px 40px;
  border-radius: 20px;
  margin-right: 30rem;
}
.footer {
  background-color: #08496f;
  color: white;
}
.backakun {
  width: 200px;
}
.akun-container {
  background-color: #555859;
  height: 750px;
  padding-top: 100px;
}
.akun {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  margin-top: 40px;
  width: 1050px;
}
#background1 {
  background-image: url("../../public/images/backgroundtentang.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 85vh;
  font-family: Times New Roman;
}

.slide-in {
  animation: slideIn 1s ease forwards;
  /* Adjust the animation duration and other properties as needed */
}
.show-content {
  animation: slideIn 0.5s ease-in-out forwards;
}

#text-penjelasan {
  text-align: justify;
  font-size: 14px;
  margin-right: 100px;
}
.image-container {
  display: flex;
  align-items: start;
  justify-content: center;
}
.image-container1 {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-right: 1.5rem;
}
.image-container1 img {
  width: 439px;
  height: 250px;
  margin-bottom: 1.25rem;
}
.image-container2 img {
  width: 336px;
  height: 520px;
}
.image-container3 img {
  width: 439px;
  height: 250px;
  margin-bottom: 1.25rem;
}
.image-container3 {
  margin-left: 1.5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}
#wrapper {
  display: flex;
  align-items: center;
}
.background-text {
  height: 412px;
  background-color: #d9d9d9;
  border-radius: 10px;
  padding: 35px;
  margin-right: 20px;
}
@media screen and (max-width: 800px) {
  #penjelasan {
    flex-direction: column;
    align-items: center; /* The width is 100%, when the viewport is 800px or smaller */
  }
  #penjelasan p {
    margin-right: 0;
  }
  #carousel {
    width: 100%;
  }
  #header-penjelasan {
    text-align: center;
  }
  .image-container {
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  #text-penjelasan {
    width: 100%;
  }
  .image-container img {
    width: 325px;
    height: auto;
    padding: 0;
  }
  .image-container1 {
    margin-right: 0;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .image-container3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.5rem;
    margin-left: 0;
  }
  #wrapper {
    flex-direction: column;
  }
  .background-text {
    padding-top: 40px;
    padding-right: 12px;
    padding-left: 12px;
    margin: 0;
    margin-bottom: 1.5rem;
  }
}
@keyframes slideIn {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
=======
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,800;1,500;1,700&display=swap');

* {
  font-family: "Poppins", sans-serif;
}

:root {
  --primary-color: #184662;
  --blue-color: #528b9e;
  --skyblue-color:#c6dfeec5;
  --biru:#045572;

}

/* card di halaman welcome  */
.populer {
  margin: 3rem 0px 0px 10rem;
  line-height: 1px;
  display: inline-block; /* Membungkus elemen dalam satu garis */
}

.underline {
  margin-top: -4px;
  border: solid thin 1px;
  height: 2px;
  background-color: white;
  width: auto; /* Biarkan lebar garis mengikuti teks */
}

/* style card pages halaman welcome */
.cardpg {
  margin-top: 25px;
  width: 500px;
  overflow: hidden;
  transition: transform 0.2s;
}
.cardpg:hover {
  transform: translateY(-5px);
}

.cardpg img {
  max-width: 100%;
  height: 200px;
  display: block;
}

.cardpg-container {
  position: relative;
}

.cardpg-body {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5px;
  text-align: center;
}
.cardpg-body p{
  font-size: 9px;
}
.cardpg-body h2{
  font-size: 5px;
}

/* style halaman login start */
.body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  margin: 0;
  background: transparent;
}

.login-container {
  background: rgba(255, 255, 255, 0.2);
  padding: 30px 50px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.login-form {
  text-align: center;
  width: 100%;
}

.login-form h2 {
  text-align: left;
  font-size: 24px;
  margin-bottom: 20px;
  color: white;
  font-weight: 600;
}

.login-form h6 {
  text-align: left;
}

.form-group {
  margin-bottom: 20px;
  text-align: left;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: white;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 8px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #ccc;
}

button {
  background-color: #184662;
  color: #fff;
  padding: 6px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #184675;
}
/* style halaman login end */

/* Navbar Wisata */
.flexcontainer{
  left: 15%;
  top: 30%;
  position: absolute;
}
.text{
  align-self: stretch;
  color: #ffffff;
  font-size: 60px;
  font-weight: 700;
  line-height: 60px;
}
.Nav{
  
  border-bottom: 1px solid white;
}
.title-desc{
  margin-bottom: 50px;
}
.card-box{
  height: 683px;
  width: 1281px;
  position: absolute;
  top: 100%;
  background: linear-gradient( rgb(9, 64, 96) , rgb(36, 83, 112), rgb(49, 112, 150));
}

.flex-card-box{
  justify-content: space-around;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.text-box{
  margin-left: 40px;
  text-align: justify;
  width: 325px;
  font-size: 16px;
  letter-spacing: 0;
  margin-right: 20px;
}
.image-container{
  display: flex;
  justify-content: space-evenly;
}
.image-container img{
  padding-right: 40px;
}
img:last-child{
  padding-right: none;
  
}
.card-box{
  padding-bottom: 60px;
  
}
.text-space{
  line-height: 4px;
}

/* style card pages halaman welcome */
.cardpg {
  margin-top: 25px;
  width: 500px;
  overflow: hidden;
  transition: transform 0.2s; 
}
.cardpg:hover {
  transform: translateY(-5px);
}
.cardpg img {
  max-width: 100%;
  height: 200px;
  display: block;
}
.cardpg-container {
  position: relative;
}
.cardpg-body {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5px;
  text-align: center;
}
.text-justify-start {
  text-align: justify;
  /*max-width: 7000px;*/
  font-size: 12px;
  max-width: fit-content;
}
.cardpg-body p{
  font-size: 9px;
}
.cardpg-body h2{
  font-size: 5px;
}

/* Style Home Pages Start*/
/* Style cardhome di halaman home*/
.cardhome {
  margin-top: 25px;
  width: 230px;
  overflow: hidden;
  transition: transform 0.2s;
}
.cardhome:hover {
  transform: translateY(-5px);
}
.cardhome img {
  max-width: 100%;
  height: 250px;
  display: block;
}
.cardhome-container {
  position: relative;
}
.cardhome-body {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5px;
  text-align: center;
}
.text-justify-start {
  text-align: justify;
  font-size: 12px;
  max-width: fit-content;
}
.cardhome-body p{
  font-size: 9px;
  font-family:'Times New Roman';
}
.cardhome-body h5{
  font-family:'Times New Roman';
  font-size: 5px;
}

/* Style bagian cardtop halaman home */
.kartu {
  margin-top: 25px;
  width: 237px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 3px 4px 8px rgba(149, 147, 147, 0.1);
  transition: transform 0.2s;
  background-color: #003949;
}
.kartu:hover {
  transform: translateY(-5px);
}
.kartu img {
  max-width: 100%;
  height: auto;
  display: block;
}
.kartu-container {
  position: relative;
}
.kartu-body {
  position: absolute;
  bottom: 50px;
  left: 0;
  right: 0;
  padding: 10px;
  background-color: rgba(200, 199, 199, 0.491);
  font-family: 'Times New Roman';
  text-align: center;
  color: #fff;
}

/*Style bagian Strength(mengapa memilih kami) halaman home*/
.Strength{
  background-color: var(--skyblue-color);
}
body{
  background:#eadbdbeb;
}
.profile-area{
  padding:80px 0;
}
.cards{
box-shadow: 0 0 2px rgba(0,0,0,0.5);
overflow:hidden;
border-radius: 15px;
width:250px;
height:340px;
}
.img2 img{
  width:80px;
  height:80px;
  border-radius: 20%;
  margin-top: 30px;
  object-fit: contain;
}
.card:hover .img2 img{
  border-bottom: darkcyan;
  transition:.7s;
}
.main-text{
  position: relative;
  height: 180px;
  padding: 30px 0;
  text-align: center;
}
.main-text h2{
  text-transform:uppercase;
  font-weight:900;
  font-size: 20px;
  padding-top: -10px;
  margin: 0 0 20px;
}
.main-text p{
  font-size: 13px;
  line-height: 15px;
  padding:0 35px;
}

/* style about tour halaman home */
.about{
  background-color:#054c72;
}
.aboutcard {
  margin-top: 25px;
  width: 320px;
  overflow: hidden;
  transition: transform 0.2s;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.aboutcard img {
  max-width: 100%;
  height: auto;
  display: block;
}
.aboutcard-container {
  position: relative;
}
.aboutcard-body {
  position: absolute;
  bottom: 8px;
  left: 4px;
  right: 4px;
  padding: 10px;
  text-align: center;
}
.aboutcard-body p{
  padding-top: 5px;
  font-size: 8px;
  font-family:'Times New Roman';
}
.about-container h2 {
  font-family:'Times New Roman';
  font-size: 1.5rem;
  margin-bottom: 5px;
  font-weight: bold;
}
.about-container p {
  font-size: 1rem;
  max-width: 1000px;
}
.text-justify-center {
  text-align: justify;
  /*max-width: 7000px;*/
  max-width: fit-content;
}
.gambar:hover {
  transform: translateY(-6px);
}




