@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,800;1,500;1,700&display=swap');

* {
  font-family: "Poppins", sans-serif;
}

:root {
  --primary-color: #184662;
  --blue-color: #528b9e;
  --skyblue-color:#c6dfeec5;
  --biru:#045572;

}

/* card di halaman welcome  */
.populer {
  margin: 3rem 0px 0px 10rem;
  line-height: 1px;
  display: inline-block; /* Membungkus elemen dalam satu garis */
}

.underline {
  margin-top: -4px;
  border: solid thin 1px;
  height: 2px;
  background-color: white;
  width: auto; /* Biarkan lebar garis mengikuti teks */
}

/* style card pages halaman welcome */
.cardpg {
  margin-top: 25px;
  width: 500px;
  overflow: hidden;
  transition: transform 0.2s;
}
.cardpg:hover {
  transform: translateY(-5px);
}

.cardpg img {
  max-width: 100%;
  height: 200px;
  display: block;
}

.cardpg-container {
  position: relative;
}

.cardpg-body {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5px;
  text-align: center;
}
.cardpg-body p{
  font-size: 9px;
}
.cardpg-body h2{
  font-size: 5px;
}

/* style halaman login start */
.body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  margin: 0;
  background: transparent;
}

.login-container {
  background: rgba(255, 255, 255, 0.2);
  padding: 30px 50px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.login-form {
  text-align: center;
  width: 100%;
}

.login-form h2 {
  text-align: left;
  font-size: 24px;
  margin-bottom: 20px;
  color: white;
  font-weight: 600;
}

.login-form h6 {
  text-align: left;
}

.form-group {
  margin-bottom: 20px;
  text-align: left;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: white;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 8px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #ccc;
}

button {
  background-color: #184662;
  color: #fff;
  padding: 6px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #184675;
}
/* style halaman login end */

/* Navbar Wisata */
.flexcontainer{
  left: 15%;
  top: 30%;
  position: absolute;
}
.text{
  align-self: stretch;
  color: #ffffff;
  font-size: 60px;
  font-weight: 700;
  line-height: 60px;
}
.Nav{
  
  border-bottom: 1px solid white;
}
.title-desc{
  margin-bottom: 50px;
}
.card-box{
  height: 683px;
  width: 1281px;
  position: absolute;
  top: 100%;
  background: linear-gradient( rgb(9, 64, 96) , rgb(36, 83, 112), rgb(49, 112, 150));
}

.flex-card-box{
  justify-content: space-around;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.text-box{
  margin-left: 40px;
  text-align: justify;
  width: 325px;
  font-size: 16px;
  letter-spacing: 0;
  margin-right: 20px;
}
.image-container{
  display: flex;
  justify-content: space-evenly;
}
.image-container img{
  padding-right: 40px;
}
img:last-child{
  padding-right: none;
  
}
.card-box{
  padding-bottom: 60px;
  
}
.text-space{
  line-height: 4px;
}

/* style card pages halaman welcome */
.cardpg {
  margin-top: 25px;
  width: 500px;
  overflow: hidden;
  transition: transform 0.2s; 
}
.cardpg:hover {
  transform: translateY(-5px);
}
.cardpg img {
  max-width: 100%;
  height: 200px;
  display: block;
}
.cardpg-container {
  position: relative;
}
.cardpg-body {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5px;
  text-align: center;
}
.text-justify-start {
  text-align: justify;
  /*max-width: 7000px;*/
  font-size: 12px;
  max-width: fit-content;
}
.cardpg-body p{
  font-size: 9px;
}
.cardpg-body h2{
  font-size: 5px;
}

/* Style Home Pages Start*/
/* Style cardhome di halaman home*/
.cardhome {
  margin-top: 25px;
  width: 230px;
  overflow: hidden;
  transition: transform 0.2s;
}
.cardhome:hover {
  transform: translateY(-5px);
}
.cardhome img {
  max-width: 100%;
  height: 250px;
  display: block;
}
.cardhome-container {
  position: relative;
}
.cardhome-body {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5px;
  text-align: center;
}
.text-justify-start {
  text-align: justify;
  font-size: 12px;
  max-width: fit-content;
}
.cardhome-body p{
  font-size: 9px;
  font-family:'Times New Roman';
}
.cardhome-body h5{
  font-family:'Times New Roman';
  font-size: 5px;
}

/* Style bagian cardtop halaman home */
.kartu {
  margin-top: 25px;
  width: 237px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 3px 4px 8px rgba(149, 147, 147, 0.1);
  transition: transform 0.2s;
  background-color: #003949;
}
.kartu:hover {
  transform: translateY(-5px);
}
.kartu img {
  max-width: 100%;
  height: auto;
  display: block;
}
.kartu-container {
  position: relative;
}
.kartu-body {
  position: absolute;
  bottom: 50px;
  left: 0;
  right: 0;
  padding: 10px;
  background-color: rgba(200, 199, 199, 0.491);
  font-family: 'Times New Roman';
  text-align: center;
  color: #fff;
}

/*Style bagian Strength(mengapa memilih kami) halaman home*/
.Strength{
  background-color: var(--skyblue-color);
}
body{
  background:#eadbdbeb;
}
.profile-area{
  padding:80px 0;
}
.cards{
box-shadow: 0 0 2px rgba(0,0,0,0.5);
overflow:hidden;
border-radius: 15px;
width:250px;
height:340px;
}
.img2 img{
  width:80px;
  height:80px;
  border-radius: 20%;
  margin-top: 30px;
  object-fit: contain;
}
.card:hover .img2 img{
  border-bottom: darkcyan;
  transition:.7s;
}
.main-text{
  position: relative;
  height: 180px;
  padding: 30px 0;
  text-align: center;
}
.main-text h2{
  text-transform:uppercase;
  font-weight:900;
  font-size: 20px;
  padding-top: -10px;
  margin: 0 0 20px;
}
.main-text p{
  font-size: 13px;
  line-height: 15px;
  padding:0 35px;
}

/* style about tour halaman home */
.about{
  background-color:#054c72;
}
.aboutcard {
  margin-top: 25px;
  width: 320px;
  overflow: hidden;
  transition: transform 0.2s;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.aboutcard img {
  max-width: 100%;
  height: auto;
  display: block;
}
.aboutcard-container {
  position: relative;
}
.aboutcard-body {
  position: absolute;
  bottom: 8px;
  left: 4px;
  right: 4px;
  padding: 10px;
  text-align: center;
}
.aboutcard-body p{
  padding-top: 5px;
  font-size: 8px;
  font-family:'Times New Roman';
}
.about-container h2 {
  font-family:'Times New Roman';
  font-size: 1.5rem;
  margin-bottom: 5px;
  font-weight: bold;
}
.about-container p {
  font-size: 1rem;
  max-width: 1000px;
}
.text-justify-center {
  text-align: justify;
  /*max-width: 7000px;*/
  max-width: fit-content;
}
.gambar:hover {
  transform: translateY(-6px);
}







